<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hilbing.bandafinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".activities.auth.ForgotActivity" />
        <activity android:name=".activities.auth.SignUpActivity" />
        <activity android:name=".activities.auth.RegisterAdvancedActivity" />
        <activity android:name=".activities.auth.GoogleLoggedActivity" />
        <activity android:name=".activities.auth.GoogleLoginActivity" />
        <activity android:name=".activities.auth.RegisterActivity" />
        <activity android:name=".activities.auth.FacebookUserActivity" />
        <activity android:name=".activities.auth.FacebookLoginActivity" />
        <activity android:name=".activities.auth.LoginEmailPassActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
    </application>

</manifest>